{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "plugins": ["standard", "react", "promise", "import", "node"],
  "extends": ["standard", "standard-react"]
}
