{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": [
      "error",
      "never"
    ]
  },
  "plugins": [
    "standard",
    "react",
    "promise",
    "import",
    "node"
  ],
  "extends": [
    "standard",
    "standard-react"
  ]
}
