{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "overrides": [
    {
      "files": [".babelrc", ".eslintrc", ".prettierrc"],
      "options": { "parser": "json" }
    }
  ]
}
